.vege-containter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    /* color:rgba(211, 211, 211, 0.5) */
}

@media only screen and (max-width: 768px) {
    .vege-containter {
        grid-template-columns: repeat(2, 1fr);
    }
}