.item {
    /* min-height: 600px; */
}
.price {
    color:lightseagreen;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.bottom-0 {
    bottom: 0px;
}
.btn-update {
    background-color: lightseagreen;
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    overflow: hidden;
}